* {
  
  font-family:  Helvetica, sans-serif;
}

body {
  padding: 20px;
  text-align: center;
  background-color: #fafafa;
}

.logo {
  margin-bottom: 20px;
}

.header{
  border: .25rem solid #000000;;
  height: 100px;
  margin-bottom: 1%;
  background-color: pink; 
  padding: 2%; 
  
}

.grid-container{
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  'map-container map-container  park-container'
   'photos-container memories-container memories-container';
  grid-gap: .25rem;
  grid-template: auto;
}

#map-container{
  grid-area: map-container;
  border: .25rem solid #000000;
  height: 500px;
  padding: 2%; 
}

#park-container{
  grid-area: park-container;
    border: .25rem solid #000000;
    height: 500px;
    padding: 2%; 
}
#memories-container{
  grid-area: memories-container;
    border: .25rem solid #000000;
    height: 500px;
    padding: 2%; 
   
}
#photos-container{
  grid-row: photos-container;
    border: .25rem solid #000000;
    height: 500px;
    padding: 2%; 
}


.title{
  font-size: 26px; 
  font-weight: 300; 
  color: #000000; 
  margin: 0 0 24px; 

}





.footer{
  border: .25rem solid #000000;
  height: 50px;
  clear: both;
  padding: 2%; 
  margin-top: 1%;
}