* {
  font-family:  Helvetica, sans-serif;
}

body {
  padding: 20px;
  text-align: center;
  background-color: #fafafa;
  height: 100%;
}

.logo {
  margin-bottom: 20px;
}

.header{
  border: .25rem solid #000000;;
  height: 100px;
  margin-bottom: 1%;
  background-color: pink; 
  padding: 2%; 
  
}

/* style the Google Map */
#map {
  height: 100%;
}



/* holds two columns, the memory list and submit form */
.nest-memories-container{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

/* styles the user submitted memories div */
.memories-list-container{
}

/* styles the column of the form to add a memory */
.memories-submit-form-container{
  /* flex: 1; */
}

/* memory form */
form {
  /* Center the form on the page */
  margin: 0 auto;
  width: auto;
  /* Form outline */
  padding: .5em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

input, 
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 100%;
  height: auto;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}


textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 8em;
}

.memory-button {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(92, 114, 238);
  cursor: pointer;
  transition: color 300ms;
}

.memory-button:hover {
  color: rgb(37, 68, 245);
}

.memory-button:active {
  color: rgb(127, 146, 250);
}

.memory-button:focus {
  outline: none;
}











.grid-container{
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  'map-container map-container  park-container'
   'photos-container memories-container memories-container';
  grid-gap: .25rem;
  grid-template: auto;
}

#map-container{
  grid-area: map-container;
  border: .25rem solid #000000;
  height: 500px;
  padding: 2%; 
}

#park-container{
  grid-area: park-container;
    border: .1rem solid #000000;
    height: auto;
    padding: 2%; 
    font-size: 20px; 
    font-weight: 300; 
    color: #000000; 
    text-align: left;
}
#memories-container{
  grid-area: memories-container;
  border: .1rem solid #000000;
    height: 500px;
    padding: 2%; 
   
}
#photos-container{
  grid-row: photos-container;
    border: .25rem solid #000000;
    height: 500px;
    padding: 2%; 
}


/* all section titles/headers   */
 .title{
  font-size: 26px; 
  font-weight: 300; 
  color: #000000; 
  margin: .2em 0 1em;
  text-align: center; 
}

/* the location of the park as from the API */
#states{ 
  margin: 0 0 10px; 
}

/* the park nickname from the API */
#park-code{
  margin: 0 0 10px;
}

/* url for the park website from API */
#url{
  text-align: right;
  color: #eb0b0b;
  margin: 0 0 10px;
}

/* description from the API */
#park-description{
font-size: 1.1rem;
letter-spacing: 0.05em;
margin: .2em;
}





.footer{
  border: .25rem solid #000000;
  height: 50px;
  clear: both;
  padding: 2%; 
  margin-top: 1%;
}